.taboo.item {
	min-width: min-content;
	& .window-content {

    search {display: none;}
    max-height: 90vh;
		display: grid;
    gap: 0.5em;
    grid: "desc header header" fit-content(0)
          "desc deet deet" fit-content(40vh)
          "adv  eff act" fit-content(15vh)
          ".  . tabs" auto
          / 400px 400px 300px;

    [data-application-part="header"] {
      grid-area:header;
    }

    [data-application-part="tabs"] {
      grid-area:tabs;
    }

    nav {
      [data-tab="description"], [data-tab="details"] {
        display:none;
      }
    }

    hr.ampersand {
      display:none;
    }

		& .tab:not(.contents) {
      display:flex;
			&[data-tab="description"] {
        grid-area:desc;
      }

			&[data-tab="details"] {
        grid-area:deet;
			}

			&[data-tab="activities"] {
        grid-area:act;
      }

			&[data-tab="effects"] {
        grid-area:eff;
			}

			&[data-tab="advancement"] {
        grid-area:adv;
			}
		}
	}
}

.taboo.activity {
  min-width:fit-content;
  .window-content {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(auto-fill, minmax(50px, auto));
    grid-auto-flow:dense;

    .tab {
      overflow-y:auto;
      display:flex;
    }

    .tabs {display: none;}

  }
}

.active-effect-config {
  
  .editor {
    height: 300px;
  }

  .changes {
    gap: 0;
  }

  .changes header {
    grid-template-columns: max-content auto 6ch 3ch;

    .key {
      margin-block-start: 0.5em;
      grid-column: 1 / 3;
    }

    .value {
      margin-inline-start: 2rem;
    }

    .controls {
      grid-column: 3/-1;
      grid-row: 1;
    }
  }

  .changes [data-changes] {
    grid-template-columns: max-content auto 6ch 3ch;
    gap: 0.2em;

    .key {
      margin-block-start: 0.5em;
      grid-column: 1 / -1;
    }
  }
}
